#nav_div{
	float:right;
	margin:0 auto;
	position:relative;
	top:40;
	text-align:center;
	width:100%;
	background:black;
	color:white;
}

#nav {
	list-style:none;
	background:black;
	color:white;
	font-size: 22pt;
	margin:0;
	padding:0;
	overflow:hidden;
	top:0;
	width:100%;
}

li {
	/*float:left;*/
	display:inline;
	text-align:center;
	padding:14px 16px;
	background:black;
	color:white;
	text-decoration:none;

}
li:hover {
	background:black;
}
a {
	color:white;

}
a:hover {
	color:#FF4500;
	decoration:none;
}

a:active{
	color:#FF4500; 
}

body{
	background:black;
	color:white;
	margin:auto;
	padding:100px 0 0 0;
}

img {
	background-size:100%;
	opacity:0.45;
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:518.4px;
	height:345.6px;
}

/*div.background{

	background:transparent url("http://i529.photobucket.com/albums/dd335/summerboi74/Black%20And%20White%20Prints/LightBulb.jpg");
	border:2px solid black;
	background-size:100% 100%;
	
}*/



h1 {
	font-family: 'Noto Sans', sans-serif;
	font-size:50px;
	text-align:center;

}

hr{
	display:block;
	margin-top:0.5em;
	margin-bottom:0.5em;
	margin-left:500px;
	margin-right:500px;
	border-style:inset;
	border-width:5px;
	border-color:#FF4500;


}

h2 { 
	text-align:center;
	display:block;
}
p{ 
	text-align:center;
	display:block;
}

