#nav_div{
	float:right;
	margin:0 auto;
	text-align:center;
	width:100%;
	background:black;
	color:white;
}

#nav {
	list-style:none;
	background:black;
	color:white;
	font-size: 22pt;
	margin:0;
	padding:0;
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
	position:absolute;
}

li {
	/*float:left;*/
	display:inline;
	text-align:center;
	padding:14px 16px;
	background:black;
	color:white;
	text-decoration:none;

}
li:hover {
	background:white;
}
a {
	color:white;
}
a:hover {
	color:black;
}

body{
	background:url ("http://i529.photobucket.com/albums/dd335/summerboi74/Black%20And%20White%20Prints/LightBulb.jpg");
	background:black;
	color:white;
	margin:auto;
	padding:100px 0 0 0;
}

img {
	background-size:100%;
	opacity:0.6;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/*div.background{

	background:transparent url("http://i529.photobucket.com/albums/dd335/summerboi74/Black%20And%20White%20Prints/LightBulb.jpg");
	border:2px solid black;
	background-size:100% 100%;
	
}*/



h1 {
	font-family: 'Playfair Display SC', serif;
	text-align:center;

}
h2 { 
	text-align:center;
}
p{ 
text-align:center;}

