#nav_div {
	float:right;
	margin:0 auto;
	position:relative;
	top:40;
	text-align:center;
	width:100%;
	background:black;
	color:white;
}

#nav {
	list-style:none;
	background:black;
	color:white;
	font-size: 22pt;
	margin:0;
	padding:0;
	overflow:hidden;
	top:0;
	width:100%;
	position:absolute;
}

li {
	/*float:left;*/
	display:inline;
	text-align:center;
	padding:14px 16px;
	background:black;
	color:white;
	text-decoration:none;
}

li:hover {
	background:black;
}
a {
	color:white;
}
a:hover {
	color:#FF4500;
	decoration:none;
}

a:active{		
	color:#FF4500; 		
}		



body {
	background:black;
	color:white;
}

/*h1 {
	position: relative;
	color:white;
}*/

h1{
	position: relative;
	text-align:center;
	padding: 100px 0 0 0;
}
#pic1 {
	display:inline-block;
	max-width:250px;
	height:125px;
}
#pic2 {
	display:inline-block;
	max-width:350px;
	height:125px;
}
#pic3 {
	display:inline-block;
	max-width:275px;
	height:125px;
}
.col-sm-4 {
	display:inline-block;
	text-align:center;
}
.centrepage {
	margin: 0 50px 0 50px;
}
#info {
	display:inline-block;
}
h4 {
	color:#FF4500;
}

#mainpic {
	background-size:100%;
	opacity:0.45;
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:518.4px;
	height:345.6px;
}
